body {
	margin: 0px;
	width: 100%;
	height: 100%;
	background: #f2f2f2;

	font-family: "Fauna One", "Lucida Grande", Helvetica, sans-serif;
	font-size: 13px;
}

.website-content p {
	line-height: 180%;
}
.website-content p strong{
	font-size: 111%;
}
body.w480 body.w320 {
	font-size: 8px;
}
a {
	color: #00b7f0;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

h1, h2, h3, .website-content p strong /*, #news*/
{
	font-family: "Ubuntu", "Maven Pro", "Lucida Grande", Helvetica, sans-serif;
	font-weight: 700;
}
h1 .light {
	font-weight: 100;
}
h1, h2 {
	margin-top: 64px;
}
h2 {
	font-size: 30px;
}
h3, #news {
	font-size: 18px;
}
#news a:hover {
	text-decoration: none;
}
body.w480 .website-content h1, body.w480 .website-content h2,
body.w320 .website-content h1, body.w320 .website-content h2 {
	margin-top: 24px;
}
body.w480 .website-content h2, body.w320 .website-content h2 {
	font-size: 15px;
}
#main-container {
	width: 100%;
	min-width: 964px;
}
#features,
#package-content {
	padding-left: 0px;
	list-style-type: none;
	font-size: 15px;
}
body.w480 #features,
body.w480 #package-content,
body.w320 #features,
body.w320 #package-content {
	font-size: 10px;
}
#features li,
#package-content li {
	padding: 3px 0;
	border-bottom: 1px solid #DDD;
}
#features li:first-child,
#package-content li:first-child {
	border-top: 1px solid #DDD;
}
#package-content-title {
	margin-top: 0px;
	font-size: 13px;
	margin-bottom: 8px;
}
body.w480 #package-content-title,
body.w320 #package-content-title {
	font-size: 9px;
}

#license-container {
	
}
.license .title,
.license .price,
.license .cell {
}
.buynow {
	font-size: 18px;
	float: right;
	padding-right: 16px;
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 2px;
	background: url("../images/buynow_back.svg") no-repeat right center;
	color: #fff;
}
.buynow a {
	color: #fff;
	-webkit-transition: color 1s;
	-moz-transition: color 1s;
	-o-transition: color 1s;
	-ms-transition: color 1s;	
}
.buynow a:hover {
	color: #fb0;
	text-decoration: none;
}
body.w480 .buynow,
body.w320 .buynow a{
	font-size: 25px;
}
.license {
	clear: both;
	height: 28px;
	border-bottom: 1px solid #DDD;
	padding: 12px 0;
	/*font-family: "Open Sans", "Lucida Grande", Helvetica, sans-serif;
	font-weight: 400;*/
	font-family: "Ubuntu", "Maven Pro", "Lucida Grande", Helvetica, sans-serif;
	font-weight: 400;
	text-shadow: 0 1px white;
	font-size: 18px;	
	text-transform: uppercase;
}
#license-container .license:nth-child(odd) {
	background: #E8E8E8;
}
.license:hover:not(.header),
#license-container .license:nth-child(odd):hover:not(.header) {
    background: #00b7f0;
    color: #fff;
	text-shadow: none;
	text-shadow: 0 -1px rgba( 0, 0, 0, 0.5 );    
}
.license.header {
	font-family: "Fauna One", "Lucida Grande", Helvetica, sans-serif;
	font-size: 11px;
	text-transform: none;
	text-shadow: none;
}
#license-container .license:first-child {
	border-top: 1px solid #DDD;
}
.license .title {
	padding-left: 16px;
	float: left;
	width: 168px;
}
.license .description {
	float: right;
	width: 460px;
	font-size: 11px;
	margin-top: 8px;
	display: none;
}
.license .price {
	float: right;
	width: 75px;
	text-align: right;
	padding-right: 16px;
}
.license .cell {
	float: left;
	width: 105px;
	text-align: center;	
}
body.w480 .license .title {
	padding-left: 16px;
	float: left;
	width: 148px;
}
.license .cell.books {
	display: none;
}
body.w480 .license .price {
	float: right;
	width: 70px;
	text-align: right;
	padding-right: 16px;
}
body.w480 .license .cell {
	float: left;
	width: 70px;
	text-align: center;	
}
body.w320 .license .cell {
	display: none;
}
.no {
	text-decoration: line-through;
}

ul.licenseinfo {
	padding-left: 0px;
	list-style-type: none;
	font-size: 11px;
}
body.w480 ul.licenseinfo,
body.w320 ul.licenseinfo {
	font-size: 6px;
}
/* demo book */
#demobook-container {
	position: relative;
	max-width: 700px;
	overflow: auto;
	height: 200px;
}
#demobooks {
	position: absolute;
	width: 575px;
	height: 200px;
	overflow: hidden;
}
#demobooks a {
	text-decoration: none;
}
#demobooks + h2 {
	margin-top: 24px;
}
/*#demobooks:hover img {
	opacity: 0.5;
}*/
.demobook {
	float: left;
	width: 115px;
	padding: 16px 0;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	-ms-transition: background-color 0.3s;	
}
.demobook:hover {
	background-color: #ececec;
}
/*#demobooks .demobook:hover img {
	opacity: 1;
}*/
.democover {
	position: relative;
	height: 120px;
}
.democoverbottom {
	width: 115px;
	/*text-align: center;*/
	position: absolute;
	bottom: 0;
}
.democover,
.democaption {
	width: 115px;
	text-align: center;
}
.democaption {
	width: 107px;
	padding: 8px 4px 0;
	color: #000;
	font-size: 12px;
	text-decoration: none;
}
.democover img {
	-moz-box-shadow: 0 5px 15px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.2);
	box-shadow: 0 5px 15px rgba(0,0,0,0.2);
/*	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;*/	
}
#footer-container {
	margin-top: 32px;
	width: 100%;
	background: #636363;
	padding: 20px 0;
}
#footer {
	width: 700px;
	margin: 0 auto;
	overflow: hidden;	
	color: #fff;
	font-size: 11px;
}
.onefour {
	float: left;
	width: 152px;
	min-height: 110px;
	overflow: hidden;
	margin-right: 16px;
	padding-right: 10px;
	border-right: 1px solid #9F9F9F;
}
body.w480 .onefour,
body.w320 .onefour {
	width: 138px;
	margin: 16px 10px;
	border: none;
}
body.w480 .onefour {
	margin: 16px 50px;
}
.onefour.last {
	border: none;
	margin-right: 0px;
}

.copyright {
	clear: both;
	width: 100%;
	text-align: center;
	color: #C2C2C2;
	font-size: 11px;
	padding-top: 20px;
}
body.w480 .copyright,
body.w320 .copyright {
	font-size: 8px;
}
#footer h2 {
	margin-top: 0;
	font-size: 15px;
}
#footer ul,
#footer li {
	list-style-type: none;
	padding-left: 0;
}
#footer a {
	color: #fff;
}


#menu-container {
	position: fixed;
	width: 100%;
	height: 80px;
	background: #D9D9D9;
	margin: 0;
	text-align: center;
	z-index: 100;
}
#menu-container.withnews {
	height: 126px;
}
#menu-container #news {
	display: none;
}
#menu-container #news a {
	color: #f2f2f2;
}
#menu-container.withnews #news {
	display: block;
/* 	background: #00b7f0; */
	background: #292929;
	color: #f8f8f8;
	width: 100%;
	height: 46px;
	overflow: hidden;
	padding-top: 0px;
}
#menu-container.withnews #newscontent {

	display: block;
	overflow: hidden;
	margin: 0 auto;
	width: intrinsic;
	height: 16px;
		
	font-family: helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	
	background: url( ../images/fwlogo.svg ) no-repeat left center;
	padding: 15px 0 15px 170px;
	
	color: #ccc;
}
body.w320 #menu-container.withnews #newscontent {
	padding: 6px 0 6px 170px;
	height: 34px;
}

/*
body.w480 .website-content h1, body.w480 .website-content h2,
body.w320 .website-content h1, body.w320 .website-content h2 {
*/


#pdfconverterlink {
	height: 32px;
	overflow: hidden;
	cursor: pointer;
}
#menu {
	margin: 0;
}
body.w1000 #menu {
	height: 80px;
	width: 900px;
	margin: 0 auto;
}
body.w768 #menu {
	height: 80px;
	width: 768px;
}
body.w480 #menu {
	display: none;
}
body.w320 #menu {
	display: none;
}

.menu-item,
.menu-btn {
	position: relative;
	float: left;
}
.menu-btn .menu-image.hovered {
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;	
}
.menu-btn:hover .menu-image.hovered {
	opacity: 1;
}
.menu-image {
	position: absolute;
	top: 0px;
	left: 0px;
}


body.w1000 .menu-btn {
	height: 80px;
}
body.w1000 #menu-logo,
body.w1000 #menu-logo .menu-image {			width: 152px; height: 80px; }
body.w1000 #menu-logo .menu-image {			background: url(../menuimages/menu900_logo.png); background-size: 152px 80px; }
body.w1000 #menu-logo .menu-image.hovered {	background: url(../menuimages/menu900_logo_hover.png); background-size: 152px 80px; }
body.w1000 #menu-title,
body.w1000 #menu-title .menu-image {		width: 296px; height: 80px; }
body.w1000 #menu-title .menu-image {		background: url(../menuimages/menu900_title.png); background-size: 296px 80px; }
body.w1000 #menu-pf5,
body.w1000 #menu-pf5 .menu-image {			width: 179px; height: 80px; }
body.w1000 #menu-pf5 .menu-image {			background: url(../menuimages/menu900_pf5.png); background-size: 179px 80px; }
body.w1000 #menu-pf5 .menu-image.hovered {	background: url(../menuimages/menu900_pf5_hover.png); background-size: 179px 80px; }
body.w1000 #menu-pff,
body.w1000 #menu-pff .menu-image {			width: 132px; height: 80px; }
body.w1000 #menu-pff .menu-image {			background: url(../menuimages/menu900_pff.png); background-size: 132px 80px; }
body.w1000 #menu-pff .menu-image.hovered {	background: url(../menuimages/menu900_pff_hover.png); background-size: 132px 80px; }
body.w1000 #menu-buy,
body.w1000 #menu-buy .menu-image {			width: 141px; height: 80px; }
body.w1000 #menu-buy .menu-image {			background: url(../menuimages/menu900_buy.png); background-size: 141px 80px; }
body.w1000 #menu-buy .menu-image.hovered {	background: url(../menuimages/menu900_buy_hover.png); background-size: 141px 80px; }

body.w768 .menu-btn {
	height: 80px;
}
body.w768 #menu-logo,
body.w768 #menu-logo .menu-image {			width: 132px; height: 80px; }
body.w768 #menu-logo .menu-image {			background: url(../menuimages/menu768_logo.png); background-size: 132px 80px; }
body.w768 #menu-logo .menu-image.hovered {	background: url(../menuimages/menu768_logo_hover.png); background-size: 132px 80px; }
body.w768 #menu-title,
body.w768 #menu-title .menu-image {			width: 252px; height: 80px; }
body.w768 #menu-title .menu-image {			background: url(../menuimages/menu768_title.png); background-size: 252px 80px; }
body.w768 #menu-pf5,
body.w768 #menu-pf5 .menu-image {			width: 152px; height: 80px; }
body.w768 #menu-pf5 .menu-image {			background: url(../menuimages/menu768_pf5.png); background-size: 152px 80px; }
body.w768 #menu-pf5 .menu-image.hovered {	background: url(../menuimages/menu768_pf5_hover.png); background-size: 152px 80px; }
body.w768 #menu-pff,
body.w768 #menu-pff .menu-image {			width: 112px; height: 80px; }
body.w768 #menu-pff .menu-image {			background: url(../menuimages/menu768_pff.png); background-size: 112px 80px; }
body.w768 #menu-pff .menu-image.hovered {	background: url(../menuimages/menu768_pff_hover.png); background-size: 112px 80px; }
body.w768 #menu-buy,
body.w768 #menu-buy .menu-image {			width: 120px; height: 80px; }
body.w768 #menu-buy .menu-image {			background: url(../menuimages/menu768_buy.png); background-size: 120px 80px; }
body.w768 #menu-buy .menu-image.hovered {	background: url(../menuimages/menu768_buy_hover.png); background-size: 120px 80px; }




.website-content {
	width: 700px;
	margin: 0 auto;
	overflow: hidden;
}
body.w480 .website-content {
	width: 460px;
}
body.w320 .website-content {
	width: 300px;
}
body.w480,
body.w320 {
	font-size: 9px;
}

body.w480 #footer,
body.w320 #footer {
	width: 100%;
}


img.inpar {
	display: block;
	margin: 48px 0 0 0;
}
a img {
	border: none;
}

.paddle_button {
	cursor: pointer;
}
